body, nav > ul{
    margin: 0px;
    padding:0px;
}
.header{
    display: grid;
    grid-template-columns : 17% 25% 50%;
    grid-template-rows : 110px;
    justify-items :start;
    border : solid black 1px;
}
#logo{
    height: 103px;
    width: 197px;
    max-height: 103px;
    max-width: 197px;
}
nav{
    margin-top: 30px;
    height: 48px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid grey;
    box-shadow: 0px 1px 4px;
    margin-left: 40px;
}
nav a{
    text-decoration: none;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
}
nav li{
    list-style-type: none;
}

nav > ul > li{
    float: left;
    position: relative;
}
nav > ul::after{
    content: "";
    display: table;
    clear: both;
}

.submenu > li:hover a{
    color: white;
}
.navigation > li:hover > a{
    color: white;
}
.active a{
    color: white;
}
.nonActive a{
    color: red;
}
.active{
    cursor: pointer;
}
.navigation > li{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 38px;
    padding-right: 38px;
    border-right: solid 1px grey;
}
.nonActive{
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-delay: 0s;
}
.nonActive:hover{
    background-color: #91aada;
    cursor: pointer;
}
.navigation > :first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.navigation > :last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.active{
    background-color: #4d7dd6;
}
.submenu{
    display: none;
}

nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 102%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
    text-align: center;
}
.submenu > :first-child{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.submenu > :last-child{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.submenu li{
    border :0px!important;
    box-shadow: 0px 1px 4px;
    background-color: white;
    padding: 5px 39px 5px 39px;
}

@media screen and (max-width: 1250px) {
    .header{
        display: grid;
        grid-template-columns : 1% 25% 75%;
        grid-template-rows : 110px;
        border: 0px;
    }
    .inutile{
        display: none;
    }
}
@media screen and (max-width: 835px) {
    .header{
        display: grid;
        grid-template-columns : 1% 25% 75%;
        grid-template-rows : 110px;
    }
    .navigation > li{
    padding-left: 15px;
    padding-right: 15px;
    border-right: solid 1px grey;
    }
    .submenu li{
    padding: 5px 15px 5px 15px;
}
}